<section id="wrapper" class="login-register login-sidebar">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center parallax-fade-top subscribe-bg">
                <div class="mt-40">
                    <div class="main-title on-dark text-center mb-0"> <a href="#/login" class="text-center db"><img src="../../wwwroot/assets/img/logo-dark.png" alt="Home" /><br />
                        <span class="brand-text">[ Edu<strong>Manager</strong> ]</span> </a>
                        <div class="main-subtitle-bottom smaller mt-10">Recupera tu contraseña!</div>
                    </div>
                    <form class="form-horizontal form-material" id="loginform" action="index.html" />
                    <div class="form-group mt-20">
                        <div class="col-xs-12">
                            <div class="input-group"> <span class="input-group-addon b-0  bg-primary" id="basic-addon4"><i class="mdi mdi-account"></i></span>
                                <input type="text" class="form-control" placeholder="Usuario/Correo electronico" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center mb-10">
                        <div class="col-xs-12">
                            <button class="btn btn-success btn-lg btn-block text-uppercase" data-toggle="modal" data-target="#myModal" type="submit">Restablecer</button>
                        </div>
                    </div>
                    <div class="form-group mb-10">
                        <div class="col-sm-12 text-center">
                            <p>Aun no estas registrado?  <a href="#/registro" class="text-info ml-5"><b>¡Registrate ahora!</b></a></p>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>