<section id="wrapper" class="login-register login-sidebar">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center parallax-fade-top subscribe-bg">
                <div class="mt-40">
                    <div class="main-title on-dark text-center mb-0"><a href="#/login" class="text-center db"><img
                            src="../../wwwroot/assets/img/logo-dark.png" alt="Home"/><br/>
                        <span class="brand-text">[ Edu<strong>Manager</strong> ]</span> </a>
                        <div class="main-subtitle-bottom smaller mt-10">Registrate ahora!</div>
                    </div>
                    <form class="form-horizontal form-material" id="loginform" action="index.html"/>
                    <div class="form-group mt-20">
                        <div class="col-xs-12">
                            <div class="input-group"><span class="input-group-addon b-0  bg-primary"
                                                           id="basic-addon4"><i class="mdi mdi-account"></i></span>
                                <input type="text" class="form-control" placeholder="Usuario/Nickname"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <div class="input-group"><span class="input-group-addon b-0  bg-primary"
                                                           id="basic-addon4"><i class="mdi mdi-email"></i></span>
                                <input type="email" class="form-control" placeholder="Correo electronico"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <div class="input-group"><span class="input-group-addon b-0  bg-primary"
                                                           id="basic-addon4"><i class="mdi mdi-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Contraseña"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group"><span class="input-group-addon b-0  bg-primary"
                                                           id="basic-addon4"><i class="mdi mdi-lock-reset"></i></span>
                                <input type="password" class="form-control" placeholder="Confirmar contraseña"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary pt-0">
                                <input id="checkbox-signup" type="checkbox"/>
                                <label for="checkbox-signup"> Estoy de acuerdo con <a href="#">Terminos &amp;
                                    Condiciones</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center mt-20">
                        <div class="col-xs-12">
                            <button class="btn btn-success btn-lg btn-block text-uppercase" type="submit">Registrarme
                            </button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Ya estas registrado? <a href="#/login" class="text-danger ml-5"><b>Accede ahora</b></a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 mt-0 mb-20 text-center">
                            <div class="social"><a href="javascript:void(0)" class="btn pl-15 pr-15  btn-facebook"
                                                   data-toggle="tooltip" title="Login with Facebook"> <i
                                    aria-hidden="true" class="fa fa-facebook"></i> </a> <a href="javascript:void(0)"
                                                                                           class="btn pl-15 pr-15 btn-tumblr"
                                                                                           data-toggle="tooltip"
                                                                                           title="Login with tumblr"> <i
                                    aria-hidden="true" class="fa fa-tumblr"></i> </a></div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>