<!DOCTYPE html>
<html lang="es-mx" data-ng-app="EduManagerSiteApp">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EduManagerSite</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="admin, admin dashboard, admin template"/>
    <meta name="author" content="YonathanR"/>
    <!-- Favicon -->
    <link rel="shortcut icon" href="wwwroot/assets/img/favicon/favicon.png"/>
    <link rel="icon" href="wwwroot/assets/img/favicon/favicon.png" type="image/x-icon"/>
    <!-- Custom CSS -->
    <link href="wwwroot/assets/css/default.css" rel="stylesheet" type="text/css"/>
    <!--Angular-->
    <script src="wwwroot/assets/js/angularjs/angular.min.js"></script>
    <script src="wwwroot/assets/js/angularjs/angular-locale_es-mx.js"></script>
    <script src="wwwroot/assets/js/angularjs/angular-route.min.js"></script>
    <!--Fin Angular-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
    <body class="login-sidebar-background" data-ng-controller="indexController">
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="preloader">
            <div class="circles-1">
                <div class="circles-1-center"></div>
                <div class="circles-1"></div>
                <div class="circles-1"></div>
                <div class="circles-1"></div>
                <div class="circles-1"></div>
                <div class="circles-1"></div>
                <div class="circles-1"></div>
            </div>
        </div>
    </div>
    <!-- //Preloader -->
    {{minombre}}
    <data-ng-view>

    </data-ng-view>
    <!-- /Main Content -->
    <!-- /#wrapper -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="wwwroot/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="wwwroot/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Slimscroll JavaScript -->
    <script src="wwwroot/assets/js/jquery.slimscroll.js"></script>
    <!-- Fancy Dropdown JS -->
    <script src="wwwroot/assets/js/dropdown-bootstrap-extended.js"></script>
    <!-- Switchery JavaScript -->
    <script src="wwwroot/vendors/bower_components/switchery/dist/switchery.min.js"></script>
    <!-- Init JavaScript -->
    <script src="wwwroot/assets/js/init.js"></script>
    <!--EduManagerSite scripts-->
    <script src="controladores/indexContoller.js"></script>
    </body>
</html>
